# Ignore everything
*
#Except ignore
!.gitignore

!src/main/resources/kosmo/pathfinding/extra/framework.txt

# Except pom.xml
!pom.xml

# Except draft.png
!src/main/resources/kosmo/pathfinding/extra/draft.png

# Except src directory
!src/
!src/**

# Except scenes directory
!scenes/
!scenes/**
