VBox{
    -fx-spacing: 30;
    -fx-pref-height: 262;
    -fx-pref-width: 84;
    -fx-padding: 10;
    -fx-border-color: black;
    -fx-border-width: 2;
}

VBox Button {
    -fx-font-size: 14px;
    -fx-text-fill: white;
    -fx-padding: 0 0 0 0; /* top right bottom left */
    -fx-pref-height: 60;
    -fx-pref-width: 60;
}

#origin {
    -fx-background-color: blue;
}

#destination {
    -fx-background-color: red;
    -fx-font-size: 10px;
}

#obstacle {
    -fx-background-color: black;
    -fx-text-fill: yellow;
    -fx-font-size: 12px;
}

#grid{
    -fx-border-color: black;
    -fx-border-width: 2;
    -fx-padding: 0;
    -fx-hgap: 0; /* horizontal gap between columns */
    -fx-vgap: 0; /* vertical gap between rows */
}

#console{
    -fx-control-inner-background: white;
    -fx-font-family: "Consolas", "Monaco", monospace;
    -fx-highlight-fill: lime;
    -fx-highlight-text-fill: blue;
    -fx-text-fill: black;
    -fx-border-color: gray;
    -fx-border-width: 2;
    -fx-font-size: 14px;
}

Rectangle{
    -fx-fill: lightgray;
}

.icon-button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-padding: 0;
}

.icon-button:hover{
    -fx-icon-color: red;
    -fx-opacity: 0.8;
}

.icon-button:pressed {
    -fx-opacity: 0.6;
}

.icon{
    -fx-fill: #0f0f0f;
    -fx-font-size: 22px;
}

.icon:hover {
    -fx-fill: green;
}

.icon:pressed{
    -fx-fill: red;
}

#key-box {
    -fx-padding: 0px;  /* Adds padding inside the VBox */
    -fx-spacing: 0px;  /* Sets spacing between children in the VBox */
    -fx-margin: 0;
}

label{
    -fx-padding: 0;  /* Ensures no extra padding on labels */
    -fx-margin: 0;
}
